:root {
  --color-white-pure: #fff;
  --color-black-pure: #000;
  --color-tv-primary: #747f85;
  --color-tv-secondary: #687176;
  --color-tv-speakers: #525f67;
  --color-tv-glass-off: #333831;
  --color-tv-glass-border: #525f67;
  --color-intro-sony-font: #00328b;
  --color-intro-sony-diamond-gradient: linear-gradient(45deg, #D53D0A 0%, #D6B904 50%, #D53D0A 100%);
  --color-intro-sony-triangle-gradient: linear-gradient(45deg, #D53D0A 0%, #D6B904 50%, rgba(213, 61, 10, 0) 50.1%);
  --color-intro-ps-text: #bfbfbf;
  --color-ps-primary: #c3c0c1;
  --color-ps-secondary: #9b9a9d;
  --color-ps-dark: #404042;
}

html {
  font-size: calc((100vw / 1920) * 10);
}

@media (max-width: 1024px) {
  html {
    font-size: calc((100vw / 1024) * 8);
  }
}

@media (max-width: 428px) {
  html {
    font-size: calc((100vw / 428) * 5);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

header {
  width: 100%;
  text-align: center;
  font-family: "VT323", monospace;
  background-color: var(--color-black-pure);
  color: var(--color-white-pure);
  padding: 0.1rem 0;
}

header h1 {
  font-size: 8rem;
}

header h2 {
  font-size: 6rem;
}

header p {
  font-size: 3.2rem;
}

header div {
  height: 1rem;
  width: 0%;
  margin-top: 1rem;
  background-color: var(--color-white-pure);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  align-items: flex-end;
}

@media (orientation: portrait) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
}

.tv {
  width: 60rem;
  height: 47rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv__body {
  width: 100%;
  height: 43rem;
  background-color: var(--color-tv-primary);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: relative;
}

.tv__logo {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 2.2rem;
  background-color: var(--color-tv-secondary);
}

.tv__speakers-area {
  width: 10%;
  height: 95%;
  background-color: var(--color-tv-speakers);
  border-radius: 0.4rem;
}

.tv__screen-area {
  flex: 1;
  height: 90%;
  background-color: var(--color-tv-secondary);
  border-radius: 1rem;
}

.tv-screen-area__border {
  width: 100%;
  height: 100%;
}

.tv-screen-area__glass {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
}

.tv-glass {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-tv-glass-off);
}

.corner-1,
.corner-3,
.corner-7,
.corner-9 {
  background: none;
}

.corner-2 {
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  border: 0.8rem solid var(--color-tv-glass-border);
  border-bottom: none;
  transform: translateY(15%);
}

.corner-4 {
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%;
  border: 0.8rem solid var(--color-tv-glass-border);
  border-right: none;
  transform: translateX(15%);
}

.corner-5 {
  border-radius: 1.4rem;
  z-index: 2;
}

.corner-6 {
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
  border: 0.8rem solid var(--color-tv-glass-border);
  border-left: none;
  overflow: hidden;
  transform: translateX(-15%);
}

.corner-8 {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  border: 0.8rem solid var(--color-tv-glass-border);
  border-top: none;
  overflow: hidden;
  transform: translateY(-15%);
}

.tv__stand {
  width: 95%;
  height: 4rem;
  background-color: var(--color-tv-secondary);
  border-radius: 0 0 1rem 1rem;
}

.tv-stand__buttons-area {
  width: 100%;
  height: 90%;
  background-color: var(--color-tv-primary);
  display: flex;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 25% 100%, 0 90%);
  border-top: 0.4rem solid var(--color-tv-secondary)
}

.tv-buttons-area__wrapper {
  width: 60%;
  height: 100%;
  border: 0.1rem solid var(--color-tv-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tv-buttons-area__small-button-area {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tv-buttons-area__small-button {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--color-tv-glass-border);
  border: 0.1rem solid var(--color-tv-secondary);
}

.tv-buttons-area__indicator-area {
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
}

.tv-buttons-area__infra-red {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-tv-glass-off);
}

.tv-buttons-area__led-indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-tv-glass-off);
}

.tv-buttons-area__power-button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  border: 0.3rem solid var(--color-tv-secondary);
  margin-right: 1rem;
}

.tv-screen__container {
  height: 100%;
  aspect-ratio: 1;
  margin: 0 auto;
  position: relative;
}

.intro__sony-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.sony-screen__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-intro-sony-font);
  opacity: 0;
}

.sony-screen__diamond {
  width: 12rem;
  height: 12rem;
  background: var(--color-intro-sony-diamond-gradient);
  transform: rotate(45deg);
  position: relative;
  margin-top: 5rem;
  margin-bottom: 4rem;
  opacity: 0;
}

.sony-screen__triangle {
  width: 12rem;
  height: 12rem;
  background: var(--color-intro-sony-triangle-gradient);
  opacity: 0;
}

.triangle-left {
  position: absolute;
}

.triangle-right {
  position: absolute;
  transform: rotate(180deg);
}

.sony-screen__text-container {
  position: relative;
  opacity: 0;
}

.sony-screen__text-1 {
  font-family: 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-intro-sony-font);
  line-height: 1.8rem;
}

.sony-screen__text-2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-intro-sony-font);
}

.sony-screen__text-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(120%);
  font-family: 'Arial', sans-serif;
  font-size: 0.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-intro-sony-font);
}

.intro__ps-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.ps-screen__ps-logo-image {
  width: 14rem;
  margin-bottom: 0.6rem;
  opacity: 0;
}

.ps-screen__ps-logo-text {
  width: 14rem;
  margin-bottom: 0.6rem;
  opacity: 0;
}

.ps-screen__text-container {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2rem;
  color: var(--color-intro-ps-text);
  text-align: center;
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
  opacity: 0;
}

.ps-screen__scea-text {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2rem;
  color: var(--color-intro-ps-text);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0;
}

.ps-screen__scea-text > span {
  font-size: 1rem;
}

.right-side {
  width: 40rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playstation-lid {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-ps-primary);
  border: 0.4rem solid var(--color-ps-secondary);
  transform-origin: bottom;
  transform: rotateX(30deg) translateY(6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.playstation-lid__gear {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  width: 0.8rem;
  height: 4rem;
  background-color: var(--color-ps-secondary);
}

.playstation-lid__cd-support {
  height: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-ps-primary);
  border: 0.4rem solid var(--color-ps-secondary);
}

.playstation {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.playstation__lid {
  width: 68%;
  height: 1rem;
  background-color: var(--color-ps-primary);
  border-bottom: 0.1rem solid var(--color-ps-secondary);
  opacity: 0;
}

.playstation__body {
  width: 100%;
  height: 7rem;
  background-color: var(--color-ps-primary);
  border-radius: 0 0 0.4rem 0.4rem;
  display: flex;
  justify-content: center;
  border-top: 0.1rem solid var(--color-ps-secondary);
}

.playstation-body__controller-area {
  width: 45%;
  height: 100%;
  background-color: var(--color-ps-primary);
  display: flex;
  justify-content: space-between;
}

.playstation-controller-area__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-ps-primary);
  position: relative;
  z-index: 5;
  font-family: sans-serif;
}

.playstation-controller-area__number {
  font-size: 1.6rem;
  color: var(--color-ps-dark);
}

.playstation-controller-area_connectors {
  border: 0.2rem solid var(--color-ps-secondary);
  border-radius: 0.8rem;
  padding: 0.4rem;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-ps-primary);
  row-gap: 0.4rem;
}

.playstation-connectors__memory-card {
  text-transform: uppercase;
  font-size: 0.4rem;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
  background-color: var(--color-ps-primary);
  border: 0.1rem solid var(--color-ps-secondary);
  color: var(--color-ps-dark);
}

.playstation-connectors__controller {
  width: 100%;
  background-color: var(--color-ps-dark);
  border: 0.1rem solid var(--color-ps-dark);
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
  margin: 0 auto;
}

.playstation-connectors__controller-left-side,
.playstation-connectors__controller-center,
.playstation-connectors__controller-right-side {
  background-color: var(--color-ps-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem;
  column-gap: 0.2rem;
}

.playstation-connectors__controller-hole {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-ps-dark);
}

.playstation__left-side {
  height: 7.5rem;
  width: 25%;
  background-color: var(--color-ps-primary);
  box-shadow: -0.6rem 0 inset var(--color-ps-secondary);
  clip-path: polygon(2% 0%, 98% 0%, 100% 100%, 10% 100%, 0% 90%);
  position: absolute;
  bottom: 1rem;
  left: -1rem;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.playstation__power-indicator {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--color-ps-dark);

}

.playstation__left-ventilation {
  width: 1rem;
  height: 50%;
  background-color: var(--color-ps-secondary);
  position: absolute;
  bottom: 50%;
  transform: translateY(50%) rotate(2deg);
  left: -1.5rem;
  border-radius: 0.4rem 0 0 0.4rem;
  z-index: 2;
}

.playstation__right-side {
  height: 7.5rem;
  width: 25%;
  background-color: var(--color-ps-primary);
  box-shadow: 0.8rem 0 inset var(--color-ps-secondary);
  clip-path: polygon(8% 0%, 98% 0%, 100% 90%, 90% 100%, 0% 100%);
  position: absolute;
  bottom: 1rem;
  right: -1rem;
  z-index: 3;
}

.playstation__right-ventilation {
  width: 1rem;
  height: 50%;
  background-color: var(--color-ps-secondary);
  position: absolute;
  bottom: 50%;
  right: -1.5rem;
  transform: translateY(50%) rotate(-2deg);
  border-radius: 0 0.4rem 0.4rem 0;
  z-index: 2;
}

.playstation__bottom-line {
  width: 105%;
  height: 0.1rem;
  position: absolute;
  bottom: 2rem;
  background-color: var(--color-ps-secondary);
  z-index: 4;
}

.playstation__bottom {
  width: 95%;
  height: 1rem;
  background-color: var(--color-ps-secondary);
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

footer {
  width: 100%;
  height: 6rem;
  background-color: var(--color-black-pure);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

footer a {
  font-size: 2.4rem;
  font-family: "VT323", monospace;
  color: var(--color-white-pure);
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  gap: 2rem;
  display: none;
  opacity: 1;
}

.overlay button,
.overlay a {
  color: var(--color-white-pure);
  background-color: var(--color-black-pure);
  font-size: 10rem;
  border: 0.8rem solid var(--color-white-pure);
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  font-family: "VT323", monospace;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.overlay button:hover,
.overlay a:hover {
  cursor: pointer;
  background-color: var(--color-ps-dark);
}